h3{
  font-size: 35px;
  color: #eb83eb;
}


.choice{
  font-size: 20px;
  color: black;
}

.category{
  margin-top: 30px;
  font-size: 20px;
  background: lightgrey;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.exiplications{
  text-align: center;
  font-size: 32px;
  color: grey;
}

