<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <h3>Selectionner une catégorie &nbsp;&nbsp;&nbsp;</h3>
    <mat-form-field appearance="fill">
      <mat-label class="choice">Faîtes votre choix</mat-label>
      <mat-select>
        <mat-option class="category" [routerLink]="['/category/'+categ]" *ngFor="let categ of category">{{categ}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill" [floatLabel]="'never'">
        <input type="text"
               placeholder="rechercher"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-button type="button" [routerLink]="['/research/'+myControl.value]" >Rechercher</button>
  </mat-grid-tile>

</mat-grid-list>

  <div class="exiplications">
    Marmitada, la cuisine à portée de tous ! <br>
    Marmitada est un site de cuisine, vous pouvez y retrouver vos plats préférés,<br>
    tester de nouvelles recettes et partager vos meilleurs recettes !
  </div>






