<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <mat-card-title>
        <a href="javascript:void(0);">
          <span>{{ recipe.name }}</span>
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
      <mat-card-subtitle class="contact-info">
        <a href="Autheur:{{ recipe.author.firstname }} {{ recipe.author.lastname }}&lt;{{ recipe.author.pseudo }}&gt;" class="truncate"></a>
      </mat-card-subtitle>


    </mat-card-title-group>
    <mat-list>
      <h3 mat-subheader>Liste des ingrédients</h3>

      <mat-list-item *ngFor="let ingredient of recipe.ingredients"> {{ingredient}} </mat-list-item>
    </mat-list>

    <mat-list>
      <h3 mat-subheader>Steps</h3>

      <mat-list-item *ngFor="let step of recipe.steps;let indexOfelement=index;"> Step {{indexOfelement}} : {{step}} </mat-list-item>
    </mat-list>
    <mat-card-content>
      <div class="buttons-info">
        <button mat-button title="Delete" (click)="delete(recipe)">
          <mat-icon>delete</mat-icon>
        </button>

        <a mat-button title="Edit" [routerLink]="['/edit', recipe?.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</section>
