<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <mat-card-title>
        <span><a [routerLink]="['/recipe/'+recipe.id]">{{ recipe.name }}</a></span>
      </mat-card-title>

      <mat-card-subtitle class="gray_text">{{ recipe.description }}</mat-card-subtitle>
      <mat-card-subtitle class="gray_text">(Catégorie : {{ recipe?.category }})</mat-card-subtitle>

      <mat-card-subtitle class="contact-info">
        Par : {{ recipe.author?.firstname }} &lt;{{ recipe.author.pseudo }}&gt; {{ recipe.author?.lastname }}
      </mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Liste des ingrédients</h3>
        <mat-list-item class="items_list" *ngFor="let ingredient of recipe.ingredients"> {{ingredient}} </mat-list-item>
      </mat-list>

      <mat-list>
        <h3 mat-subheader>Etapes à suivre</h3>
        <mat-list-item class="items_list" *ngFor="let step of recipe.steps;let indexOfelement=index;">
          <u>Étape {{indexOfelement}}</u> : {{step}} </mat-list-item>
      </mat-list>

      <hr>
      <mat-grid-list cols="3" rowHeight="9:1" >
        <mat-grid-tile>
          Difficulté :
        </mat-grid-tile>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-grid-tile>
          Temps de préparation :
        </mat-grid-tile>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-grid-tile>
          Temps de cuisson :
        </mat-grid-tile>
        <mat-grid-tile>
          {{recipe.difficulty}}
        </mat-grid-tile>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-grid-tile>
          {{recipe.preparationTime}}
        </mat-grid-tile>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-grid-tile>
          {{recipe.cookingTime}}
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-footer>
      <div class="buttons-info">
        <button mat-button title="Delete" (click)="delete(recipe)">
          <mat-icon>delete</mat-icon>
        </button>

        <a mat-button title="Edit" [routerLink]="['/edit', recipe?.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-card-footer>
  </mat-card>
</section>
