<mat-toolbar class="extend-toolbar">
  <span>
    <a href="javascript:void(0);">
      <!--<img src="assets/images/logo.svg" aria-label="nwt" alt="NWT">-->
    </a>
  </span>

  <span class="flex"></span>
  <span>
    <a [routerLink]="['/']">Home</a>
  </span>

</mat-toolbar>

<mat-card align="center">
  Hello {{ title }}
</mat-card>

<span>
  <a [routerLink]="['/recipe']">Découvrir une recette</a>
</span>

<span class="flex"></span>

<span>
    <a [routerLink]="['/cookbook']">Voir toutes les recettes</a>
</span>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
